/* Estilos de pagina*/
.render-Productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.NavProductos{
    margin: 10px !important;
    padding: auto;
}

.NavProductos > .navbar{
    border-radius: 20px 20px !important;
}

.categorias > .navbar{
    padding: 0%;
}

.contenedorIconoCarrito{
  margin: 2px;
}

/* Carta de productos*/
.card:hover{
    /*box-shadow: 5px 5px 5px 5px black ;*/
    border: 2px  solid rgb(0, 0, 0) !important;
    transition: all 0.4s linear;
}
.card{
    width: 240px;
    border-radius: 15px 15px;
    padding-top: 10px !important ;
    margin: 10px !important;
    font-size: medium !important;
    background-color: rgba(255, 255, 255,0.8);
}
.card-precio{
    font-size: larger;
}
.overFlow{
    overflow: hidden; /* Se encierra la imagen para que no sobresalga de la tarjeta*/
}
.card-img-top{
    transition: all 0.2s ease-in-out; /*Transicion continua de la imagen*/
}
.card-img-top:hover{
   transform: scale(1.05); /*Acerca la imagen cuando sobrepasa el cursor*/
}
.card-tittle{
    font-size: large !important;
    font-weight: bold !important;
}

/* Modal del carrito*/

.containerTexto{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tituloCarrito{
    margin: 2px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: large;
}

.productoCarrito{
    border: 2px solid black;
    text-align: center;
    margin: 5px;
    padding: 5px;
    display:flex;
    justify-content: center;
}

.imgCarrito{
    width: 150px;
}
.boton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
