
/* .navbar{
    display: flex !important;
    justify-content: center!important;
}  */
.nav-item{
    font-size: larger !important;
}
.nav-link{
    font-weight: bolder!important;
    color: #0493d0 !important;
}

.Titulo{
    color: #0493d0;
    font-size:xx-large;
    font-weight: bolder;
    display:inline-block;
    margin-left: 10px;
}

.usuario{
    display: flex;

}

.navegador{
    display: flex;
    text-align: center;
    justify-content: center;
}

.presentacion{
    background-color: aliceblue;
}